<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  {{{body}}}

  <header>
    <h1>Livros Cadastrar</h1>
    <hr>
  </header>
  <main>
    <section class="section1">
      <article class="box1">
        <h3><strong>Nome do Livro</strong></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, inventore iste! Incidunt, explicabo, ex perspiciatis quidem eos consectetur aspernatur in, cupiditate placeat veniam natus fuga soluta magnam nesciunt illo voluptatibus?</p>
        <h5><strong>Categoria</strong></h5> 
        <h5><strong>R$50,00</strong></h5>
        <div class="buttons">
        <button class="bluebutton"Ver detalhes</button>
        <button class="greenbutton"Editar</button>
        <button class="redbutton"Excluir</button>
        </div>
      </article>
      {{!-----------------}}
       <article class="box2">
       <h3><strong>Nome do Livro</strong></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, inventore iste! Incidunt, explicabo, ex perspiciatis quidem eos consectetur aspernatur in, cupiditate placeat veniam natus fuga soluta magnam nesciunt illo voluptatibus?</p>
        <h5><strong>Categoria</strong></h5> 
        <h5><strong>R$50,00</strong></h5>
        <div class="buttons">
        <button class="bluebutton"Ver detalhes</button>
        <button class="greenbutton"Editar</button>
        <button class="redbutton"Excluir</button>
        </div>
      </article>
      {{!-----------------}}
        <article class="box3">
        <h3><strong>Nome do Livro</strong></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, inventore iste! Incidunt, explicabo, ex perspiciatis quidem eos consectetur aspernatur in, cupiditate placeat veniam natus fuga soluta magnam nesciunt illo voluptatibus?</p>
        <h5><strong>Categoria</strong></h5> 
        <h5><strong>R$50,00</strong></h5>
        <div class="buttons">
        <button class="bluebutton"Ver detalhes</button>
        <button class="greenbutton"Editar</button>
        <button class="redbutton"Excluir</button>
        </div>
      </article>
    </section>

    {{!--************************--}}
    <section class="section2">
      <article class="box4">
        <h3><strong>Nome do Livro</strong></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, inventore iste! Incidunt, explicabo, ex perspiciatis quidem eos consectetur aspernatur in, cupiditate placeat veniam natus fuga soluta magnam nesciunt illo voluptatibus?</p>
        <h5><strong>Categoria</strong></h5> 
        <h5><strong>R$50,00</strong></h5>
        <div class="buttons">
        <button class="bluebutton"Ver detalhes</button>
        <button class="greenbutton"Editar</button>
        <button class="redbutton"Excluir</button>
        </div>
      </article>
      {{!-----------------}}
       <article class="box5">
       <h3><strong>Nome do Livro</strong></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, inventore iste! Incidunt, explicabo, ex perspiciatis quidem eos consectetur aspernatur in, cupiditate placeat veniam natus fuga soluta magnam nesciunt illo voluptatibus?</p>
        <h5><strong>Categoria</strong></h5> 
        <h5><strong>R$50,00</strong></h5>
        <div class="buttons">
        <button class="bluebutton"Ver detalhes</button>
        <button class="greenbutton"Editar</button>
        <button class="redbutton"Excluir</button>
        </div>
      </article>

       {{!-----------------}}
        <article class="box6">
        <h3><strong>Nome do Livro</strong></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, inventore iste! Incidunt, explicabo, ex perspiciatis quidem eos consectetur aspernatur in, cupiditate placeat veniam natus fuga soluta magnam nesciunt illo voluptatibus?</p>
        <h5><strong>Categoria</strong></h5> 
        <h5><strong>R$50,00</strong></h5>
        <div class="buttons">
        <button class="bluebutton"Ver detalhes</button>
        <button class="greenbutton"Editar</button>
        <button class="redbutton"Excluir</button>
        </div>
      </article>
    </section>
  </main>
</body>
</html>